
@font-face {
    font-family: Kabut Hitam;
    src: url("../fonts/Kabut Hitam.ttf");
  }
h1.header-content {
    font-family: Kabut Hitam;
    font-size: 190px;
    font-weight: 400;
    color:#fff;
}
.caption p {
    font-size: 60px;
    margin: 0px;
    line-height: 10px;
    color: #ffa400;
    font-family: 'Kabut Hitam';
}
.carousel-inner .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 999;
}
nav.navbar.navbar-expand-lg.navbar-light {
    margin: 0px;
}
a.navbar-brand img {
    width: 60%;
}
.time ul li {
    list-style: none;
    color: #ffa400;
    padding: 0px 10px;
}
.caption {
    position: absolute;
    bottom: 20%;
    margin-left: 10px;
    /* font-size: 95px; */
}
.time ul {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}
section.top-header {
    background-color: #000000;
    padding: 5px 0px;
}
li.nav-item {
    margin: 0px 20px;
}
section.top-header p {
    margin: 0px;
    text-align: center;
    color: aliceblue;
}

.btn-1 {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    margin-right: -60px;
    margin-left: 70px;
}
button.btn-112 {
    padding: 18px 50px;
    border: 1px solid #ffa400;
    background-color: #ffa400;
}
.time p {
    font-size: 12px;
}

section.Rooms-Suites h2 {
    text-align: center;
    /* padding: 50px 0px; */
    font-size: 40px;
    font-family: serif;
}

.type-1 img {
    width: 285px;
    height: 299px;
    padding-left: 40px;
}

.type-2 img {
    width: 379px;
    padding-top: 10px;
}

section.Rooms-Suites {
    padding: 50px 0px;
}

section.Stay {
    padding: 50px 0px;
}

.Stay h2 {
    font-size: 40px;
    font-family: serif;
}

.stay-1 img {
    width: 100%;
}

.hotel-unity {
    background-image: url("../images/background-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}

section.Featured {
    padding: 50px 0px;
}

section.Featured h2 {
    text-align: center;
    padding-bottom: 30px;
}

.resto img {
    width: 40%;
}

.resto h4 p {
    text-align: center;
    padding: 20px 0px;
}

.resto {
    padding: 20px;
    border: 1px solid;
    height: 260px;
    width: 274px;
}

.bg-img h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
}

.pick h4 {
    color: #fff;
    text-align: center;
}

.pick p {
    color: #fff;
    text-align: center;
    padding: 25px 30px;
}

.hotel-unity .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.elementor-kit-75 .elementor-button {
    font-family: barlow, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 24px;
    color: #fff;
    background-color: var(--e-global-color-primary);
    border-radius: 3px 3px 3px 3px;
    padding: 18px 30px;
}

.elementor-button-wrapper .elementor-button-content-wrapper {
    align-items: center;
}

.elementor-button-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.elementor-1166 .elementor-element.elementor-element-8753786 .elementor-button .elementor-align-icon-left {
    margin-right: 14px;
}

p.wel {
    text-align: center;
    font-size: 18px;
    font-family: initial;
}

h2.exp {
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-family: math;
}

p.elegantly {
    text-align: center;
    font-size: 14px;
    justify-content: center;
}

a.elementor-button-link.elementor-button.elementor-size-sm {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    color: unset;
}

.elementor-button-wrapper .elementor-button-content-wrapper {
    align-items: center;
    border: 1px solid;
    /* margin: 30px 213px; */
    width: 25%;
    padding: 12px 11px;
    display: flex;
    background-color: #eba3006b;
}

.about-1 {
    padding: 50px 0px;
}

.art-101 img {
    width: 100%;
    height: 50%;
    margin-bottom: 25px;
}

.art-102 img {
    width: 100%;
}

section.about {
    padding: 50px 0px;
}

.testimonial {
    background-image: url(../images/h3_bg-testimonial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

.pick {
    border: 1px solid;
    height: 215px;
    width: 100%;
    padding: 40px 0px;
    background-color: #00000087;
}

.pick:hover {
    background-color: #000;
}

.row.gellary-img {
    padding-top: 25px;
}

.room-1 h2 {
    padding: 25px 15px;
}

section.testimonial h2 {
    text-align: center;
    color: aliceblue;
}

.elementor-1166 .elementor-element.elementor-element-47f5e05>.elementor-container {
    max-width: 800px;
}


.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    left: 33%;
    color: #101c81;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: aquamarine;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #2a6ba3 !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

@media(min-width: 480.6px) and (max-width: 575.5px) {
    .owl-carousel .owl-item .card .name {
        left: 24%;
    }
}

@media(max-width: 360px) {
    .owl-carousel .owl-item .card .name {
        left: 30%;
    }
}

.footer {
    background-image: url("../images/footer1_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* padding: 36px 0px; */
}

section.footer .overlay {
    opacity: 0.9;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    position: absolute;
}

.foot h2 {
    text-align: center;
    color: #fff;
    padding: 30px 0px;
    font-size: 35px;
    position: relative;
}

.sign h5 {
    color: #fff;
    text-align: center;
    font-size: 26px;
    position: relative;
}

.sign p {
    color: #fff;
    text-align: center;
    position: relative;
}

.sign img {
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    position: relative;
}

.sign h6 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.sign h2 {
    text-align: center;
    color: #fff;
    position: relative;
}

/* section.footer {
    padding: 50px 0px;
} */
section.news {
    padding: 50px 0px;
}

.latest h2 {
    text-align: center;
    font-size: 38px;
    font-family: emoji;
}

section.blog-slider {
    padding: 50px 0px;
}

@media (min-width: 768px) {
    .blog-slider .carousel-inner {
        display: flex;
    }

    .blog-slider .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

.blog-slider .carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.blog-slider .carousel-control-prev,
.blog-slider .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

figure.snip1361 img {
    width: 100%;
    height: 400px;
}

.copy p {
    text-align: center;
    padding: 30px 0px;
    /* border-bottom: 1px solid #625151; */
    border-top: 1px solid #625151;
    position: relative;
    color: #fff;
}

.sign {
    padding: 50px 0px;
}

.contect-butten {
    text-align: center;
    position: relative;
    padding: 20px 0px;
    margin: 30px 0px;
}

button.btn.btn-light {
    margin: 5px 0px;
    width: 25%;
    padding: 15px 0px;
    background-color: #fff;
}

button.btn.btn-light-1 {
    margin: 5px 0px;
    width: 25%;
    padding: 15px 0px;
}

button.btn.btn-light-1 {
    margin: 5px 0px;
    width: 20%;
    padding: 15px 0px;
    color: black;
    background-color: #f89500;
}

.contect-butten {
    border-bottom: 1px solid #625151;
}

/* ===========About============= */
.about-content {
    background-image: url("../images/about-bg-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0px;
}

.about-img h1 {
    margin: 25px 0px;
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-family: system-ui;
}

.about-img p {
    text-align: center;
    color: #fff;
}

section.content-ab {
    padding: 50px 0px;
}

.abut h2 {
    text-align: center;
    font-size: 40px;
    font-family: initial;
    font-weight: 900;
}

.abut p {
    text-align: center;
    margin: 30px 0px;
}

.counter {
    background-image: url("../images/ab_bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

.counter .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.content-ab .overlay {
    opacity: 0.9;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    position: absolute;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px;
    position: relative;
}

.counter-box.colored {
    background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

.num p {
    font-size: 17px;
    padding: 20px 0px;
    color: #ffa400;
}

.num {
    text-align: center;
    color: #ffa400;
    padding: 30px;
    position: relative;
}

.Extra-Services {
    padding: 50px 0px;
    background-color: #cececf29;
}

.Extra-Services h2 {
    text-align: center;
}

section.Extra-Services h2 {
    font-size: 45px;
    font-family: initial;
    font-weight: 800;
    padding-bottom: 50px;
}

.pick-up {
    border: 1px solid #ebebeb;
    height: 215px;
    width: 100%;
    padding: 40px 0px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;

}

.pick-up h5 {
    text-align: center;
    color: #ffa501;
}

.pick-up p {
    color: #b3b3b3;
    padding: 20px;
    text-align: center;
}

.pick-up:hover {
    background-color: #ffffff5c;
    border: 1px solid orange;
}

.air {
    text-align: center;
    width: 100%;
    height: 40%;
}

.air svg {
    width: 60%;
    height: 70%;
    color: #ffa501;
}

.air-1 {
    color: #ffa501;
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
}

.icon {
    font-size: 70px;
    padding-bottom: 20px;
}

/* ===============room-silder===============
========================================= */
.room-ic {
    display: flex;
    padding: 60px 0px;
}

.icon-101 {
    display: flex;
    justify-content: center;
    border: 1px solid;
    height: 120px;
    align-items: center;
    margin: 0px 2px;
    box-shadow: 1px 1px 3px 0px #e1671f9e;
    /* width: 126px; */
    background-color: #fbfbfb;
    width: 18% !important;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-101 .icon {
    color: #ff6a3e;
    font-size: 50px !important;
}
i.fas .icon {
    color: burlywood !important;
}
.num-room {
    display: flex;
    justify-content: flex-start;
    color: #ffa200;
}
.num-ic {
    display: flex;
}
.num-room p {
    color: black;
    font-size: 13px;
    margin-left: 16px;
}
section.room-icon h2 {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    font-family: emoji;
}
.room-content {
    padding: 60px 0px;
}
.room-icon-222 .overlay{
    background-image: url("../images/banner_roomsingle.jpg");
    background-position: center;
    background-repeat: no-repeat;
  
}
.addition ul li {
    list-style: none;
    padding: 5px 0px;
}
/* ==============blog=============== */
.blog-img img {
    width: 100%;
}
section.blog-img {
    padding: 50px 0px;
}
.room-icon h2{
    font-size: 25px;
    font-weight: 800;
    font-family: emoji;
    margin: 10px 0px;
}
.blog-post img {
    width: 30%;
}
.blog-post {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.post {
    padding: 40px;
    background-color: aliceblue;
    text-align: center;
    margin-bottom: 20px;

}
.cat-room {
    /* text-align: center; */
    background-image: url("../images/blog-2-1170x600.jpg");
    background-position:center;
    background-repeat:no-repeat;
    padding: 30px 0px;
    position: relative;
  
}
.cat-room .overlay {
    position: absolute;
    background-color: #000000b5;
    opacity: 0.9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
li.sr {
    list-style: circle;
    color: #ffab3e;
    border: 1px solid;
    width: 65%;
    height: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
ul.cat-content li {
    background-color: white;
    position: relative;
    margin-left: 55px;
}
ul.cat-content li:hover {
    background-color: rgb(252, 245, 182);
    position: relative;
    margin-left: 55px;
}
h2.categories {
    color: white;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}
section.contect-info {
    padding: 50px 0px;
    background-color: whitesmoke;
}
section.contect-info h2 {
    font-size: 40px;
    font-family: 'FontAwesome';
    font-weight: 600;
    margin-bottom: 30px;
}
h3.no {
    margin: 45px 0px;
    color: #ffa400;
}
p.week {
    margin-bottom: 30px;
    font-size: 14px;
}
.form {
    padding: 30px;
    background: rgb(255, 255, 255);
}
input#exampleFormControlInput1 {
    padding: 24px 20px;
    margin: 20px 0px;
}
span.question {
    color: #ffa400;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
button.btn {
    padding: 5px 20px;
    border: 1px solid #ffa400;
    background-color: #ffa400;
}
button.btn-11 {
    padding: 10px 50px;
    border: 1px solid #ffa400;
    background-color: #ffa400;
}


.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
h2.mineral {
    padding: 40px 0px;
}
.post img {
    width: 50%;
}
@media only screen and (max-width: 768px){
    button.btn-112 {
        padding: 3px 4px;
        border: 1px solid #ffa400;
        background-color: #ffa400;
    }
    h1.header-content {
        font-family: Kabut Hitam;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }
    h1.header-content {
        font-family: Kabut Hitam;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }
    .caption p {
        font-size: 14px;
        margin: 0px;
        line-height: 10px;
        color: #ffa400;
        font-family: 'Kabut Hitam';
    }
    section.about {
        padding: 0px 0px;
    }
    .elementor-button-wrapper .elementor-button-content-wrapper {
        align-items: center;
        border: 1px solid;
        /* margin: 30px 213px; */
        width: 35%;
        padding: 10px 11px;
        display: flex;
        background-color: #eba3006b;
    }
    .art-101 img {
        width: 100%;
        height: 50%;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
   
    h2.top-stay {
        padding-top: 40px;
    }
    .pick {
        border: 1px solid;
        height: 215px;
        width: 100%;
        padding: 40px 0px;
        background-color: #00000087;
        margin-bottom: 20px;
    }
    section.Rooms-Suites img {
        margin-bottom: 20px;
        margin-left: 12px;
    }
    .rounded-circle {
        border-radius: 50%!important;
        width: 30%;
    }
    button.btn.btn-light {
        margin: 5px 0px;
        width: 33%;
        padding: 12px 8px;
        background-color: #fff;
    }
    button.btn.btn-light-1 {
        margin: 5px 0px;
        width: 40%;
        padding: 12px 0px;
        color: black;
        background-color: #f89500;
    }
    .sign {
        padding: 20px 0px;
    }
    .footer {
        background-image: url(../images/footer1_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding: 0px 0px;
    }
    section.blog-slider img {
        width: 100% !important;
    }
    .pick-up {
        border: 1px solid #ebebeb;
        height: 215px;
        width: 100%;
        padding: 40px 0px;
        background-color: rgb(255, 255, 255);
        margin: 20px 13px;
    }
    img.d-block.w-60 {
        height: 15%;
    }
    .num-ic {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    section.room-icon {
        padding: 50px 0px;
    }
    .about-img h1 {
        margin: 25px 0px;
        color: #fff;
        text-align: center;
        font-size: 50px;
        font-family: system-ui;
    }
    .post img {
        width: 45%;
    }
    li.sr {
        list-style: circle;
        color: #ffab3e;
        border: 1px solid;
        width: 65%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    ul.cat-content {
        display: contents;
    }
    .blog-img {
        padding: 15px 15px;
    }
    .cat-room {
        /* text-align: center; */
        background-image: url(../images/blog-2-1170x600.jpg);
        background-position: center;
        background-repeat: no-repeat;
        padding: 30px 0px;
        position: relative;
        margin-bottom: 65px;
    }
}
section.room-icon img {
    width: 100%;
}
section.room-icon {
    padding: 50px 0px;
}



/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }